:root {
  /*primary colors*/
  --violet: #674baf;
  --soft-magenta: #ff00ff;

  /*paragraphs, icons, heading, button background*/
  --white: #ffff;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--violet);
  background-image: url(../../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  background-size: auto;
}

.huddle-logo {
  margin-top: 3.125rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  width: 12.5rem;
}

main {
  display: flex;
}

.illustration {
  max-width: 100%;
  height: 100%;
  margin-left: 4rem;
}

.description {
  display: flex;
  flex-direction: column;
  padding-left: 3.6875rem;
}

h1 {
  font-family: "Poppins";
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  font-weight: 37.5rem;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: var(--white);
}

p {
  font-family: "Open_Sans";
  padding-bottom: 1.5rem;
  font-weight: 25rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: var(--white);
  opacity: 70%;
}

button {
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  border: none;
  font-family: "Poppins";
  font-weight: 400;
  background-color: var(--white);
  color: var(--violet);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--soft-magenta);
    color: var(--white);
    cursor: pointer;
  }
}

.social-icons {
  text-align: right;
  padding-top: 12.5rem;
  padding-left: 21.875rem;
  font-size: 2.5rem;
  color: var(--white);
}

@media (hover: hover) {
  .facebook:hover,
  .twitter:hover,
  .instagram:hover {
    color: var(--soft-magenta);
    cursor: pointer;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 100px;
  font-size: 0.6875rem;
}

footer p {
  padding-top: 1.875rem;
}
footer a {
  color: #ffffff;
}
