:root {
  /*primary colors*/
  --violet: #674baf;
  --soft-magenta: #ff00ff;

  /*paragraphs, icons, heading, button background*/
  --white: #ffff;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--violet);
  background-image: url(../../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  background-size: 100%;
}

.huddle-logo {
  padding-top: 37px;
  padding-left: 34px;
  padding-bottom: 71px;
  max-width: 150px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration {
  max-width: 80%;
  max-height: 80%;
  padding-bottom: 3.75rem;
}

@media only screen and (max-width: 900px) {
  .description-desktop {
    display: none;
  }
}

.description-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

h1 {
  font-family: "Poppins";
  text-align: center;

  padding-bottom: 1rem;

  font-weight: 37.5rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--white);
}

p {
  font-family: "Open_Sans";
  text-align: center;
  padding-bottom: 1.5rem;
  font-weight: 25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--white);
  opacity: 70%;
}

button {
  width: 12.5rem;
  height: 2.5rem;

  border-radius: 1.75rem;
  border: none;
  font-family: "Poppins";
  font-weight: 400;
  background-color: var(--white);
  color: var(--violet);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--soft-magenta);
    color: var(--white);
    cursor: pointer;
  }
}

.social-icons {
  padding-top: 4rem;
  text-align: center;
  font-size: 1.75rem;
  color: var(--white);
}

@media (hover: hover) {
  .facebook:hover,
  .twitter:hover,
  .instagram:hover {
    color: var(--soft-magenta);
    cursor: pointer;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 100px;
  font-size: 0.6875rem;
}

footer p {
  padding-top: 1.875rem;
}
footer a {
  color: #ffffff;
}
